/* ####################### NAVBAR ######################### */
.navbar{
    border-bottom: #008ed6 solid 3px;
    opacity: 0.8;
    
}

.navbar-brand{
    opacity: 0.9;
}



/* ####################### HOME ######################### */
#home{
    background-image: url(../img/home.jpg);
    background-attachment: fixed;
    background-size: cover;
   

}

#home .dark-overlay{
    width: 100%;
    min-height:700 px;
    background-color: rgba(0, 0, 0, 0.7) ;



}

.home-info,#home .card{
    opacity: 0.9;
}

#home ion-icon{
    font-size: 2.3rem;
    background: #ffffff;
    padding: 3px;
    border-radius: 3px;
    
}

.home-info{
    padding-top: 200px;
}
