/* ####################### NAVBAR ######################### */
.navbar{
    border-bottom: #008ed6 solid 3px;
    opacity: 0.8;
    
}

.navbar-brand{
    opacity: 0.9;
}



/* ####################### HOME ######################### */
